!!! 5
html(lang="es")
	head
		meta(charset="utf-8")
		title Distrito Chicamocha
		link(rel="stylesheet", href="/static/normalize.css")
		link(rel='stylesheet', href="/static/login-estilos.css")		
		script(src="/static/prefixfree.min.js")

	body
		section#loginform
			header
				h2 Login
			if error
				div#loginerror 
					{{ error }}
			form(action='/login/', method='POST')
				{% csrf_token %}
				#formcontent
					{{ form.username }}
					{{ form.password }}
					input#submit(type="submit", value="ENTRAR")
					