@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700'")

body
	background radial-gradient(center, ellipse cover, #a9e4f7 0%, #0fb4e7 100%)
	font-family 'Roboto Condensed'
	font-size 16px

html 
	min-height 100%

#formcontent
	padding 1em 0

#loginerror
	background linear-gradient(180deg, #ee6758 0%, #e9412f 50%, #e42c2c 100%)
	border-radius 0.3em
	box-shadow 3px 3px 5px rgba(0,0,0,.5)
	box-sizing border-box
	color white
	margin-bottom 0.3em
	padding 0.5em
	text-align center
	text-shadow 0 -1px 1px rgb(136, 28, 28), 0 1px 1px rgb(243, 167, 158)
	width 20em

#loginform
	margin 5em auto
	width 20em
	h2, form
		background white
		border-radius 0.5em
		box-shadow 3px 3px 5px rgba(0,0,0,.5)
	h2 
		padding 0.6em
	form
		height 10em
		padding 0
		position relative

#submit
	background linear-gradient(180deg, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%)
	border none
	border-radius 0 0 0.2em 0.2em
	bottom 0
	color white
	font-size 2em
	position absolute
	text-shadow 0 -1px 1px #174b80, 0 1px 1px #d5eaff
	width 100%
	&:hover
		text-shadow 0px 0px 12px white

.input-form
	border solid 1px #E5E5E5
	box-shadow inset rgba(0,0,0, 0.1) 0px 0px 5px
	box-sizing border-box
	display block
	margin 0 auto 0.2em auto
	padding 0.4em
	width 95%
