// @import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("http://fonts.googleapis.com/css?family=Quicksand:300,400,700");
@font-face
	font-family 'Entypo'
	font-style normal
	src url('/static/fonts/Entypo/entypo.woff')

body
	font-family 'Quicksand'
	font-size 16px

h1
	color rgba(25, 191, 231, 0.8)
	font-weight normal
	font-size 1.5em
	padding-left 0.2em
	text-shadow	0 1px 1px rgb(167, 152, 139), 0 -2px 2px rgba(58, 36, 16, 0.9)

header
	background url('/static/images/bg.png')
	border 1px dashed rgb(155, 144, 137)
	bottom 0.2em
	box-shadow 0 0 0 0.2em #4b3a30, 6px 0 5px rgba(0,0,0,0.5)
	left 0.2em
	position fixed
	top 0.2em
	width 10em
	z-index 10

nav
	margin 5em auto 0 auto
	text-shadow 0 1px 1px rgb(167, 152, 139), 0 -1px 1px rgb(58, 36, 16) 
	width 100%

	ul
		list-style none
		margin 0
		padding 0
		text-align left

		li
			border-bottom 1px solid rgb(83, 51, 22)
			box-shadow 0 1px 1px rgba(255, 255, 255, 0.5)
			padding 0.5em

			&:first-child
				border-top 1px solid rgb(83, 51, 22)
				box-shadow 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5) inset

			&:last-child
				bottom 0
				box-sizing border-box
				position absolute
				width 100%

			&:nth-last-child(2)
				border-top 1px solid rgb(83, 51, 22)
				bottom 3em
				box-shadow 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5)inset
				box-sizing border-box
				position absolute
				width 100%

			&.selected
				border none
				background linear-gradient(180deg, #93e0ff 0%, #6cc6e9 40%, #61bcdd 100%)
				box-shadow -1px 2px 5px rgba(0,0,0,0.5)
				position relative
				width 100%

				a
					color rgba(3, 66, 102, 0.5)
					display block
					outline 1px dashed #427992
					outline-offset 3px
					text-shadow 0 1px 1px rgb(111, 215, 255), 0 -1px 1px rgb(66, 129, 148)

				&:after
					border-color rgb(60, 147, 179) transparent transparent rgb(60, 147, 179)
					border-style solid
					border-width 6px
					content ' '
					position absolute
					right 0px
					top 2.8em
					z-index -1

		a
			color rgba(192, 145, 101, 0.1)
			font-size 1.3em
			text-decoration none

		.icon
			font-family 'Entypo'
			font-size 1.5em

#main
	margin 0 0 0 11em
	width 345%

	h2
		margin 0

	section
		// background rgba(0,0,0,0.3)
		display inline-block
		height 100%
		vertical-align top
		width 24.9%

