@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("http://fonts.googleapis.com/css?family=Quicksand:300,400,700");
body {
  font-family: 'Quicksand';
  font-size: 16px;
}
h1 {
  color: rgba(25,191,231,0.8);
  font-weight: normal;
  font-size: 1.5em;
  padding-left: 0.2em;
  text-shadow: 0 1px 1px #a7988b, 0 -2px 2px rgba(58,36,16,0.9);
}
header {
  background: url("../images/bg.png");
  border: 1px dashed #9b9089;
  bottom: 0.2em;
  box-shadow: 0 0 0 0.2em #4b3a30, 6px 0 5px rgba(0,0,0,0.5);
  left: 0.2em;
  position: fixed;
  top: 0.2em;
  width: 10em;
  z-index: 10;
}
nav {
  margin: 5em auto 0 auto;
  text-shadow: 0 1px 1px #a7988b, 0 -1px 1px #3a2410;
  width: 100%;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  border-bottom: 1px solid #533316;
  box-shadow: 0 1px 1px rgba(255,255,255,0.5);
  padding: 0.5em;
}
nav ul li:first-child {
  border-top: 1px solid #533316;
  box-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5) inset;
}
nav ul li:last-child {
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}
nav ul li:nth-last-child(2) {
  border-top: 1px solid #533316;
  bottom: 3em;
  box-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5) inset;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}
nav ul li.selected {
  border: none;
  background: linear-gradient(180deg, #93e0ff 0%, #6cc6e9 40%, #61bcdd 100%);
  box-shadow: -1px 2px 5px rgba(0,0,0,0.5);
  position: relative;
  width: 100%;
}
nav ul li.selected a {
  color: rgba(3,66,102,0.5);
  display: block;
  outline: 1px dashed #427992;
  outline-offset: 3px;
  text-shadow: 0 1px 1px #6fd7ff, 0 -1px 1px #428194;
}
nav ul li.selected:after {
  border-color: #3c93b3 transparent transparent #3c93b3;
  border-style: solid;
  border-width: 6px;
  content: ' ';
  height: 0;
  position: absolute;
  right: 0px;
  top: 2.5em;
  width: 0;
  z-index: -1;
}
nav ul a {
  color: rgba(192,145,101,0.1);
  font-size: 1.3em;
  text-decoration: none;
}
#main {
  margin: 0 0 0 11em;
  width: 345%;
}
#main h2 {
  margin: 0;
}
#main section {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 24.9%;
}
