div#cabecera-eventos
	a#last-year(href="#") &#59233;&#59233;
	a#last-month(href="#") &#59233;
	
	h2 {{ fecha.inicio|date:"E Y"}}
	
	a#next-month(href="#") &#59234;
	a#next-year(href="#") &#59234;&#59234;
	div#fecha-mensual(data-month="{{ fecha.inicio|date:'n' }}", data-year="{{ fecha.inicio|date:'Y' }}", hidden)

table
	tr
		items = ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
		for item in items
			th= item
	{% for week in calendario %}
	tr
		{% for dia, eventos_dia, clase in week %}
		td
			div(class="{{ clase }}", data-dia="{{ dia }}")
				{% ifnotequal clase "empty" %}
				span {{ dia }}
				ul.sortable
					{% for evento in eventos_dia %}
					li
						div
							a(data-titulo="{{ evento.titulo }}", data-dia-desde='{{ evento.desde|date:"D" }}', data-hora-desde='{{ evento.desde|date:"H:i" }}', data-fecha-desde='{{ evento.desde|date:"j" }}', data-dia-hasta='{{ evento.hasta|date:"D" }}', data-hora-hasta='{{ evento.hasta|date:"H:i" }}', data-fecha-hasta='{{ evento.hasta|date:"j" }}') 
									{{ evento.titulo }} 
					{% endfor %}
				{% endifnotequal %}
		{% endfor %}
	{% endfor %}

div#calendario-info

div#agregar-evento
	form
		{% csrf_token %}
		p 
			input(type="text", name="titulo", maxlength="255")
		p 
			| Desde: 
			input.fecha(type="text", name="fecha_desde")
			| a las 
			input.hora(type="text", name="hora_desde")
		p 
			| Hasta : 
			input.fecha(type="text", name="fecha_hasta")
			| a las
			input.hora(type="text", name="hora_hasta")
		p
			| Personal:
			input(type="checkbox", name="personal")

		{% if group.name ==  "Distrital" %}
		p 
			| Ministerios:
			{{ form.grupo }}
		{% endif %}

		p
			button#cancelar-agregar-evento(type="button") Cancelar
			button#aceptar-agregar-evento(type="button") Aceptar


