!!! 5
html(lang="es")
	head
		{% load static %}
		{% load dajaxice_templatetags %}
		{% load eventos_tags %}
		
		meta(charset="utf-8")
		title Distrito Chicamocha
		
		link(rel="stylesheet", href="/static/css/normalize.css")
		link(rel="stylesheet", href="/static/css/main-estilos.css")	

		link(rel="stylesheet", href="/static/css/eventos.css")
		link(rel="stylesheet", href="/static/css/datepicker.css")
		
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js")
		script(src="/static/js/jquery.ui.datepicker-es.js")
		script(src="/static/js/waypoints.min.js")
		script(src="/static/js/prefixfree.min.js")
		
		{% dajaxice_js_import %}
		script(src="{% static '/static/dajax/jquery.dajax.core.js' %}")
		
		script(src="/static/js/main.js")
		script(src="/static/js/eventos.js")
	body
		header
			h1 Distrito Chicamocha
			nav
				ul
					li.selected
						a(href="#archivos") 
							span.icon &#128240; 
							| Archivos
					li
						a(href="#calendario") 
							span.icon &#128197; 
							| Calendario
					li
						a(href="#mensajes") 
							span.icon &#59168; 
							| Mensajes
					li
						a(href="#noticias") 
							span.icon &#127908; 
							| Noticias
					li 
						a(href="#usuario") 
							span.icon &#128100; 
							| {{ request.user.username }}
					li
						a(href="/logout/") 
							span.icon &#59201; 
							| Salir
		section#main
			section#archivos
				h2 aquí van los archivos
			section#calendario
				{% show_eventos_mensuales %}
			section#mensajes
				h2 Mensajes
			section#noticias
				h2 Noticias